@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  margin: 0 20px;
}

.top-title {
  margin-top: 20px;
}

.top-btn-group {
  font-size: 14px;
  padding: 5px 0;
  margin: 10px 0;
}

.title {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-left {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
}

.margin-top {
  margin-top: 20px;
}

.user-edit-btn {
  padding: 2px 12px;
}

.user-image {
  margin-bottom: 16px;
}

.error_explanation {
  color: red;

  ul {
    padding-left: 40px;
    margin-bottom: 16px;
  }
}

.notice {
  color: green;
}
